#root {
  max-width: 999px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
}

/* 'https://images.pexels.com/photos/8071161/pexels-photo-8071161.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'; */
/* 'https://images.pexels.com/photos/1624496/pexels-photo-1624496.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'; */

.layout-container {
  background-color: aqua;
  height: 100vh;
  width: 100%;
  padding: 1rem;

  /* background-image: url('https://picsum.photos/720/1480'); */
  background-image: url('https://images.pexels.com/photos/8071161/pexels-photo-8071161.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-repeat: no-repeat;
  background-size: cover;
}

.cities-item {
  display: flex;
  justify-content: center;
  background-color: #33333399;
  color: antiquewhite;
  margin: 1em 0;
  padding: 1em;
  cursor: pointer;
  transition: opacity 0.7s;
}
.cities-item:hover {
  opacity: 0.2;
}
